{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block content %}

    <form method="POST" class='sp-form'>
        {% csrf_token %}
        <h1>Are you sure?</h1>

        <button class="login-btn" type="submit">
            Delete
        </button>
        <br><br>
        <a href="{% url 'profile_view' request.user.id %}">
            Cancel
        </a>
    </form>

    {% endblock %}

</body>
</html>