{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

    {{ user.username }}

    {% if user.photo %}
    {{ user.photo }}
    {% else %}
    <!-- update_user change to add_photo(create a function -> view -> form)  or try to upload it here-->
    <a href="{% url 'update_photo' request.user.id %}">
        <button>Add a photo</button>
    </a>
    {% endif %}

    {% endblock %}

</body>
</html>