{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

        <div class="home-container">

<!--______________________________CATEGORIES____________________________-->

            <div class="home-top-image">
                <img src="{% static 'img/header.jpg' %}" alt="">
            </div>

            {% for cat in categories %}

                {% if forloop.counter|divisibleby:2 %}

                        <div class="cat-cont-odd">
                            <div class="cat-img-p">
                                <img src="{{ cat.image.url }}" alt="">
                            </div>
                            <div class="cat-descrp-l">
                                <div class="descrp-name">
                                    <h3>{{ cat.name }}</h3>
                                </div>
                                <div class="descrp-snippet">
                                    <p>{{ cat.snippet }}</p>
                                </div>
                                <a href="{{ cat.get_absolute_url }}">
                                    <button class="btn">Read more</button>
                                </a>
                            </div>
                        </div>

                    {% else %}

                        <div class="cat-cont-even">
                            <div class="cat-img-l">
                                <img src="{{ cat.image.url }}" alt="">
                            </div>
                            <div class="cat-descrp-p">
                                <div class="descrp-name">
                                    <h3>{{ cat.name }}</h3>
                                </div>
                                <div class="descrp-snippet">
                                    <p>{{ cat.snippet }}</p>
                                </div>
                                <a href="{{ cat.get_absolute_url }}">
                                    <button class="btn">Read more</button>
                                </a>
                            </div>
                        </div>

                    {% endif %}

            {% endfor %}

        </div>

    {% endblock %}

<script>
console.log('hello')
</script>
</body>
</html>