{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

        <div class="home-container">

<!--______________________________CATEGORIES____________________________-->

            {% for cat in categories %}

                {% if cat.index is odd %}
                    <div class="cat-cont-odd">
                        <div class="cat-img-l">
                            <img src="{{ cat.image.url }}" alt="">
                        </div>
                        <div class="cat-descrp-p">
                            {{ cat.name }}
                        </div>
                    </div>

                {% endif %}

            {% endfor %}

        </div>

    {% endblock %}

<script>
console.log('hello')
</script>
</body>
</html>