{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  {% block content %}

  <div class="header-img">
    <img src="{% static 'img/asia/asia-header.jpg' %}" alt="">
    <div class="header-txt">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Totam, adipisci quia iure sunt quos ratione esse aspernatur inventore vero hic!</p>
    </div>
  </div>

  <div class="post-by-category-container">

    {% for post in posts %}

      <div class="post-container">

        {% if post.image %}
      <img src="{{ post.image.url }}" alt="">
        {% else %}
      <p>No image</p>
        {% endif %}
      <div class="inside-grid">   
        <h1>{{ post.title }}</h1>
        <p>Author: {{ post.author.username }}</p>
      </div> 
    </div>

    {% endfor %}

  </div>

  {% endblock %}

</body>
</html>