{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}

<section class="post-view-section">

    <div class="post-view-container">

        <div class="post-gallery">
            {% for post in post %}

            {% if post.image %}
            <img src="{{ post.image.url }}" alt="">
            {% else %}
            <a href="{% url 'update_post' post.pk %}">
                Add photo
            </a>
            {% endif %}

            {% endfor %}
        </div>

        <div class="post-description">
            {% for post in post %}
            <h3>{{ post.category }}</h3>
            <h1>{{ post.title }}</h1>
            <p>Author: {{ post.author.username }}</p>
            <p>Views: {{ post.views }}</p>

            {% if request.user.is_authenticated %}
            <a href="{% url 'update_post' post.pk %}">
                <button>
                    Edit Article
                </button>
            </a>

            <a href="{% url 'delete_post' post.pk %}">
                <button>
                    Delete
                </button>
            </a>
            {% endif %}
            {% endfor %}
        </div>

        <div class="post-body">
            {% for post in post %}
            <p>{{ post.body }}</p>
            {% endfor %}
        </div>

        <!--______________________________SIDEBAR____________________________-->

        <div class="sidebar-post-view-category-container">

            <div class="sidebar-title">
                <h3>Another posts of the same category:</h3>
            </div>

            {% for post in posts %}

            <a href="{{ post.get_absolute_url }}">
                <div class="sidebar-grid-mini">

                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="">
                    {% endif %}
                    <div class="inside-grid">
                        <h1>{{ post.title }}</h1>
                        <p>Author: {{ post.author.username }}</p>
                    </div>
                </div>
            </a>

            {% endfor %}

        </div>

        <div class="sidebar-post-view-author-container">

            <div class="sidebar-title">
                <h3>Another posts of the same author:</h3>
            </div>

            {% for post in author %}

            <a href="{{ post.get_absolute_url }}">
                <div class="sidebar-grid-mini">

                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="">
                    {% endif %}
                    <div class="inside-grid">
                        <h1>{{ post.title }}</h1>
                    </div>
                </div>
            </a>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}

</body>
</html>