{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="post-by-category">
    {% block content %}

    {% for cat in categories %}

    <div class="top-img">
        <img src="{{ cat.image_header.url }}" alt="">
        <div class="header-txt">
            <h3>{{ cat.name }}</h3>
            <p>{{ cat.snippet }}</p>
        </div>
    </div>

    {% endfor %}

    <div class="post-by-category-container">

        {% for post in posts %}

        <a href="{{ post.get_absolute_url }}">
            <div class="post-container">

            {% if post.image %}
            <img src="{{ post.image.url }}" alt="">
            {% endif %}
            <div class="inside-grid">
                <h1>{{ post.title }}</h1>
                <p>Author: {{ post.author.username }}</p>
            </div>
        </div>
        </a>

        {% endfor %}

    </div>

    {% endblock %}
</main>
</body>
</html>