.cat-cont-odd{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%
    grid-gap: none;
}

.cat-cont-even{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%
    grid-gap: none;
}

.cat-img-l img{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 50vw;
    height: 50vw;
}

.cat-descrp-p{
   grid-column: 2/3;
    grid-row: 1/2;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px;
}

.cat-img-p img{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 50vw;
    height: 50vw;
}

.cat-descrp-l{
   grid-column: 1/2;
    grid-row: 1/2;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px;
}

.descrp-name{
    margin-top: -50px;
}

.descrp-snippet{
    margin-top: 50px;
}

.categories-btn{
    background: none;
    margin-top: 50px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
}

.cat-descrp-l h3{
    color: white;
    justify-content: center;
    font-size: 50px;
}

.cat-descrp-p h3{
    color: white;
    justify-content: center;
    font-size: 50px;
}

.cat-descrp-l p{
    color: white;
    font-size: 20px;
}

.cat-descrp-p p{
    color: white;
    font-size: 20px;
}

.descrp-name{

}