.cat-cont-odd{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%
    grid-gap: none;
}

.cat-cont-even{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%
    grid-gap: none;
}

.cat-img-l img{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 50vw;
    height: 50vw;
}

.cat-descrp-p{
   grid-column: 2/3;
    grid-row: 1/2;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-img-p img{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 50vw;
    height: 50vw;
}

.cat-descrp-l{
   grid-column: 1/2;
    grid-row: 1/2;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-descrp-p .btn{
    background: blue;
}

.cat-descrp-l h3{
    color: white;
    justify-content: center;
}

.cat-descrp-p h3{
    color: white;
    justify-content: center;
}

.cat-descrp-l p{
    color: white;
}

.cat-descrp-p p{
    color: white;
}

.descrp-name{

}