#hbg{
   background-size: 1620px 750px;
}

header .nav-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    height: 80vh;
    margin: 25px;
}

.logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.nav{
    margin-bottom: 5px;
}

 .nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav ul li{
    margin: 0 25px;
    list-style: none;
}

a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    color: white;
}

.exit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exit li{
    list-style: none;
    margin: 0 15px;
}