{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Document</title>
</head>
<body>

<header>
    <div class="nav-cont">
        <div class="logo">My Travel Blog</div>
        <div class="nav">
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>  
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="{% url 'profile_view' request.user.id %}">PROFILE</a></li>
                <li class="dropdown"><a href="#">CATEGORIES</a>
                    <ul>
                        <li><a href="{% url 'posts_by_category' 1 %}">Asia</a></li>
                        <li><a href="{% url 'posts_by_category' 2 %}">Europe</a></li>
                        <li><a href="{% url 'posts_by_category' 7 %}">Australia</a></li>
                        <li><a href="{% url 'posts_by_category' 4 %}">North America</a></li>
                        <li><a href="{% url 'posts_by_category' 5 %}">South America</a></li>
                        <li><a href="{% url 'posts_by_category' 6 %}">Africa</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {% if request.user.is_authenticated %}
        <div class="h-user">
            <p>{{ request.user }}</p>
            <li><a href="{% url 'logout_view' %}">LOG OUT</a></li>
        </div>
        {% else %}
        <div class="exit">
            <li><a href="{% url 'login' %}">LOG IN</a></li>
            <li><a href="{% url 'create_user' %}">SIGN IN</a></li>
        </div>
        {% endif %}
    </div>
</header>

<script src="{% static 'js/header.js' %}">
</script>
</body>
</html>